@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables";

.login {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    background-color: $dark-purple;
    position: relative;

    &__form {
        background-color: white;
        padding: 3.5rem 2.5rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.3rem;
        width: 25%;
        position: relative;
    }

    &__title {
        text-align: center;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.2rem;
        position: relative;
        width: 100%;
    }

    &__label {

        position: absolute;
        top: -10px;
        left: 10px;
        background-color: white;
        padding: 0 7px;
    }

    &__input {
        padding: 0.8rem 1rem;
        border-radius: 5px;
        border: 1px solid rgb(192, 192, 192);

        &:focus {
            outline: none;
            border: 1px solid $dark-purple;
        }
    }

    &__btn {
        background-color: $dark-purple;
        color: white;
        align-self: center;
        border: none;
        padding: 0.6rem 0.8rem;
        border-radius: 5px;
        font-weight: 600;
        &:hover {
            cursor: pointer;
        }
    }

    &__alert {
        color: rgb(187, 0, 0);
        text-align: center;
        width: 80%;
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px) {
    .login {
        &__form {
            width: max-content;
        }
    }
}

@media screen and (max-width: 450px) {
    .login {
        &__form {
            width: 90vw;
        }
    }
}