@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$rebecca-purple: #5941a9;
$dark-purple: #1d1128;
$medium-blue: #6d72c3;
$davy-gray: #514f59;
$quicksand: 'Quicksand', sans-serif;